# {{ansible_managed}}

global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  chroot /usr/share/haproxy
  user haproxy
  group haproxy
  daemon
  #debug
  #quiet

  tune.ssl.default-dh-param 2048
  ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
  ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11
  ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS

defaults
  log   global
  mode  http
  option        httplog
  option        dontlognull
  retries       3
  option redispatch
  maxconn       2000
  timeout connect 5000
  timeout client 50000
  timeout server 50000

  compression algo gzip
  compression type text/html text/plain text/css application/javascript

frontend proxy
  bind 104.131.74.13:80
  acl acme_challenge_acl path_beg /.well-known/acme-challenge
  redirect scheme https code 308 if !{ ssl_fc } !acme_challenge_acl
  use_backend default-server

frontend proxy-ssl
  bind 104.131.74.13:443 ssl crt /etc/haproxy/certs
  default_backend default-server

backend default-server
  server server1 127.0.0.1:80
