# {{ansible_managed}}

Port 22
Protocol 2

SyslogFacility AUTHPRIV

#AllowGroups sshers
#PermitRootLogin no
PermitRootLogin yes
PasswordAuthentication no
UsePAM yes
#RevokedKeys /etc/ssh/revoked_keys
#AuthorizedKeysFile /etc/ssh/authorized_keys/%u

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL

X11Forwarding yes

## begin: Hardening
Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com
KexAlgorithms curve25519-sha256@libssh.org
MACs umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com
HostKeyAlgorithms ssh-rsa,ssh-ed25519
## end: Hardening

Subsystem sftp  /usr/libexec/openssh/sftp-server

{% for user in site_users %}
Match user {{user.name}}
  ChrootDirectory /opt/webroot
  PasswordAuthentication yes
  ForceCommand internal-sftp
  AllowTcpForwarding no
{% endfor %}
